:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
  body {
    background: #007bff;
    background: linear-gradient(to right, #eaeff5, #aed9f5);
    padding: 5px;
  }
  
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .container {
   
     padding-right: 15px; 
     padding-left: 15px; 
  }
  .btn-google {
    color: white;
    background-color: #ea4335;
  }
  nav {
      margin-bottom: 30px;
  }
  .btn-facebook {
    color: white;
    background-color: #3b5998;
  }
  .col-centered{
      float: none;
      margin: 0 auto;
  }
  .img-resize {
      max-width: 50px;
  }